Scrapy==1.5.1
elasticsearch==6.3.1
elasticsearch-dsl==6.3.0
scrapy-random-useragent
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=22.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability